/* Sets the margin, padding and font for all classes as well as the font color */
* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f2ebe5;
}

/* Changes the color of the body as well as set the body components to be centered */
body {
  background-color: #2b262d;
  display: flex;
  justify-content: center;
}

/* Set the nav component to have the items in the middle and justify the content to have space around 
each link */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2b262d;
  position: fixed;
  width: 100%;
}

/* Change the unordered list to have no style, no padding, and no background */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

/* Change the style for the links in the nav bar */

nav li a {
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 3px;
}

/* Make the text be underlined if hovered with a mouse */

nav li a:hover {
  text-decoration: underline;
}
/* Sets the default styling of all images to have rounded corners */

img {
  border-radius: 10px;
}

/* sets the defalt font-size for paragraphs */

p {
  font-size: 20px;
}

/* a cusont class for the active page in the nav bar */
.active-link {
  background-color: #9f496e;
}

/* custom class for the content styling in each page */
.content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #647295;
  overflow: hidden;
  padding: 20px;
}

/* custom class to use for creating columns easier */
.columns {
  display: flex;
  flex-direction: row;
}

/* Mobile friendly class changes in order to have better scaling */
@media (min-width: 480px) and (max-width: 750px) {
  nav ul {
    font-size: 3vw;
  }

  nav li a {
    padding: 2vw;
  }

  .columns {
    flex-direction: column;
  }
  .nice-table {
    width: 100% !important;
  }

  img {
    width: 100% !important;
    margin-top: 10px;
  }
}

/* formating for the smaller devices */
@media (min-width: 0px) and (max-width: 479px) {
  nav ul {
    font-size: 14px;
    flex-direction: column;
  }

  nav li a {
    padding: 5px;
  }
  .nice-table {
    width: 100% !important;
  }
  .columns {
    flex-direction: column;
  }
  img {
    width: 100% !important;
    margin-top: 10px;
  }
}

/* custom class for tables used in the website */
.nice-table {
  border-collapse: collapse;
  width: 60%;
  display: flex;
  justify-self: center;
  margin: 20px;
}

/* heading changes for the tables in the website */
.nice-table th {
  background-color: #9f496e;
  color: white;
}

/* Changes to both the header and the  */
.nice-table th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* custom class for changes to the lists of the website */
.nice-list {
  list-style: disc;
  font-size: 20px;
  margin: 20px;
}

/* custom class for the list itmes for the lists of the website */
.nice-list li {
  padding-bottom: 5px;
}

/* small custom class for a simpler table header */
.simple-table th {
  background-color: none;
}
